<div fxLayout="row" fxLayoutAlign="start center">
  <button mat-raised-button color="primary" style="margin: 8px" (click)="newReport()">Create report
  </button>
  <button mat-raised-button color="primary" style="margin: 8px">Edit report
  </button>
  <button mat-raised-button color="primary" style="margin: 8px" (click)="changeMode()">
    Show
  </button>
</div>
<div *ngIf="reportsCreated" fxLayout="row" >
  <div *ngFor="let report of reportsCreated">
    <button mat-raised-button style="margin: 8px" color="accent" (click)="selectReport(report)">{{report.Name}}</button>
  </div>
</div>

<app-pivot-table [config]="selectedConfig" [show]="mode" (newConfig)="reportConfig($event)"></app-pivot-table>
