<div class="m-8" fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-raised-button color="accent" color="accent" class="post-button"
  style="margin: 8px" aria-label="POST" (click)="newReport()">Create report
  </button>
  <button mat-raised-button color="accent" class="post-button"
  style="margin: 8px" aria-label="POST">Edit report
  </button>
  <!-- <button mat-raised-button matTooltip="Configuración" color="accent" class="post-button mx-8" aria-label="POST" (click)="changeModo()">
    Change configuration
  </button> -->
</div>

<app-pivot-table (newConfig)="reportConfig($event)"></app-pivot-table>
